<app-breadcrumbs></app-breadcrumbs>

<div *ngIf="album$ && album$ | async as album">
  <h1>{{ album.title }}</h1>

  <div class="row photos-container">
    <div *ngFor="let photo of albumPhotos$ | async" class="col-xl-3 col-lg-6 col-md-12">
      <div class="card photo-item">
        <div class="card-header">{{ photo.title }}</div>
        <div class="card-body">
          <img [src]="photo.url" [alt]="photo.title" class="photo" />
        </div>
        <a class="card-text" [routerLink]="['/', 'user', album.userId]">By User {{ album.userId }}</a>
      </div>
    </div>
  </div>
</div>
