<app-breadcrumbs></app-breadcrumbs>

<h1>Posts</h1>

<form [formGroup]="form" class="posts-list__form">
  <div class="row">
    <div class="col-xl-2 col-lg-4 col-md-4">
      <input type="text" class="form-control" formControlName="title" placeholder="Title" id="userId" />
    </div>
  </div>
</form>

<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">User</th>
    <th scope="col">Title</th>
    <th scope="col">Content</th>
  </tr>
  </thead>
  <tbody *ngIf="posts.length">
  <tr *ngFor="let post of posts; trackBy: trackByFn">
    <td>{{ post.id }}</td>
    <td>
      <a [routerLink]="[post.id]">User {{ post.userId }}</a>
    </td>
    <td>
      <a [routerLink]="[post.id]">{{ post.title }}</a>
    </td>
    <td>{{ post.body }}</td>
  </tr>
  </tbody>
</table>
