/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'src/assets/styles/components';

html,
body {
  height: 100%;
}

body {
  min-height: 100%;

  * {
    white-space: pre-line;
  }
}

.host-container {
  display: block;
  padding: 35px 0;
}
