@import 'variables';

:host {
  padding: 0;
}

.nav {
  padding: 20px 10% 0 10%;
  max-width: 300px;
}

.nav-link {
  display: block;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: $menu-background-color;
  color: $white;
  margin: 10px 0;
  transition: background-color 0.1s;

  &:hover {
    background-color: darken($menu-background-color, 10%);
  }
}
